<% content_for :title, "Haftungsausschluss" %>

<p>
  Dieser Haftungsausschluss gilt für die Inhalte der Webseite <%= LegalPages.domain %>
  sowie alle zu dieser Domain gehörenden Subdomains und Verzeichnisse
  (im folgenden zusammen „<%= LegalPages.domain %>“).
  Mit der Nutzung der Webseite <%= LegalPages.domain %> erklären Sie sich mit den
  auf dieser Seite festgelegten Haftungsausschlüssen einverstanden und akzeptieren diese.
</p>

<dl class="legal-content">
  <dt>
    Haftung für Inhalte
  </dt>
  <dd>
    <p>
      Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
    </p>
  </dd>
  <dt>
    Haftung für Links
  </dt>
  <dd>
    <p>
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
    </p>
  </dd>
  <dt>Urheberrecht</dt>
  <dd>
    <p>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
      Die Einbindung fremder Inhalte geschieht auszugsweise und mit Quellenangabe. Damit gelten die eingebundenen Inhalte als Zitate und ist somit durch das deutsche Urheberrecht UrhG § 51 gestattet.
      Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    </p>
  </dd>
  <dt>Kommentare</dt>
  <dd>
    <p>
      Der oder die Autoren bzw. <%= LegalPages.domain %> sind nicht verantwortlich für den Inhalt von Kommentaren, Anzeigen und anderen Erzeugnissen Dritter, die nicht von den Autoren erstellt oder vor ihrer Veröffentlichung von ihnen geprüft worden sind. Wir distanzieren uns hiermit von allen Inhalten aller Kommentare, Anzeigen und Erzeugnissen Dritter auf unseren Seiten.
      Sie geben nicht die Meinung der Autoren bzw. <%= LegalPages.domain %> wieder. Falls sich Drittpersonen durch Kommentare auf dieser Webseite in ihren Rechten verletzt fühlen, bitten wir sie, uns zu kontaktieren und darauf hinzuweisen.
      Dafür behält sich <%= LegalPages.domain %> das Recht vor, Kommentare ohne Nennung von Gründen zu verändern oder zu löschen.
    </p>
  </dd>
  <dt>Rechtswirksamkeit dieses Haftungsausschlusses</dt>
  <dd>
    <p>
      Dieser Haftungsausschluss ist als Teil des Onlineangebotes zu betrachten. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
    </p>
  </dd>
  <dt>Weiterführende Informationen</dt>
  <dd>
    <p>
      Informationen über den Betreiber finden Sie im <a href="<%= LegalPages.mount_path %>">Impressum</a>
    </p>
    <p>
      Informationen über den Datenschutz und die Privatsphäre finden Sie in den <a href="<%= LegalPages.mount_path %>/privacy">Datenschutzbestimmungen</a>
    </p>
  </dd>
</dl>
