<% content_for :title, "Datenschutzbestimmungen" %>

<p>
  Diese Datenschutzbestimmungen gelten für die Inhalte der Webseite <%= LegalPages.domain %>
  sowie alle zu dieser Domain gehörenden Subdomains und Verzeichnisse
  (im folgenden zusammen „<%= LegalPages.domain %>“).
</p>
<p>
  Mit der Nutzung der Webseite <%= LegalPages.domain %> erklären Sie sich mit den
  auf dieser Seite festgelegten Datenschutzbestimmungen einverstanden und akzeptieren diese.
</p>

<dl class="legal-content">
  <dt>
    Datenschutz
  </dt>
  <dd>
    <p>
      Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
    </p>
    <p>
      Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name oder E-Mail-Adressen durch eine erfolgte Registrierung oder nach Anmeldung unter Verwendung eines der angebotenen Services) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
    </p>
    <p>
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    </p>
    <p>
      Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
    </p>
  </dd>
<% if LegalPages.facebook_plugin_share %>
  <dt>
    Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button, Share-Button)
  </dt>
  <dd>
    <p>
      Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue, Palo Alto, CA 94304, USA integriert.
      Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem "Like-Button" ("Gefällt mir") bzw. dem "Share-Button" ("Teilen") auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden Sie hier: <a href="http://developers.facebook.com/docs/plugins/" target="_blank">http://developers.facebook.com/docs/plugins/</a>.
    </p>
    <p>
      Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben.Wenn Sie den Facebook "Like-Button" oder den "Share-Button" anklicken während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter <a href="http://de-de.facebook.com/policy.php" target="_blank"></a>http://de-de.facebook.com/policy.php</a>
    </p>
    <p>
      Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
    </p>
  </dd>
<% end %>
<% if LegalPages.facebook_secure_share %>
  <dt>
    Datenschutzerklärung für die Nutzung von Facebook-Links (Share-Button)
  </dt>
  <dd>
    <p>
      Auf unseren Seiten sind Links (Share) zum sozialen Netzwerk Facebook, 1601 South California Avenue, Palo Alto, CA 94304, USA integriert.
      Die Facebook-Links erkennen Sie an dem Facebook-Logo auf unserer Seite.
    </p>
    <p>
      Für die Darstellung dieser Links wird <b>keine</b> direkte Verbindung zwischen Ihrem Browser und den Facebook-Servern hergestellt. Die Ermittlung der angezeigten Zähler findet im Hintergrund und ausgehend von unseren Servern statt.
      Dabei werden <b>keine</b> Benutzer spezifischen Daten übermittelt.
    </p>
    <p>
      Bei einem Klick auf den Facebook "Share-Button" öffnet sich ein Popup-Fenster mit Inhalten, die von den
      Facebook-Servern geladen werden. Wenn Sie dies tun, während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter <a href="http://de-de.facebook.com/policy.php" target="_blank"></a>http://de-de.facebook.com/policy.php</a>
    </p>
  </dd>
<% end %>
<% if LegalPages.google_adsense %>
  <dt>Datenschutzerklärung für die Nutzung von Google Adsense</dt>
  <dd>
    <p>
      Diese Website benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen der Google Inc. ("Google"). Google AdSense verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website ermöglicht. Google AdSense verwendet auch so genannte Web Beacons (unsichtbare Grafiken). Durch diese Web Beacons können Informationen wie der Besucherverkehr auf diesen Seiten ausgewertet werden.
    </p>
    <p>
      Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung dieser Website (einschließlich Ihrer IP-Adresse) und Auslieferung von Werbeformaten werden an einen Server von Google in den USA übertragen und dort gespeichert. Diese Informationen können von Google an Vertragspartner von Google weiter gegeben werden. Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenführen.
    </p>
    <p>
      Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.
    </p>
  </dd>
<% end %>
<% if LegalPages.google_analytics %>
  <dt>Datenschutzerklärung für die Nutzung von Google Analytics</dt>
  <dd>
    <p>
      Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.
    </p>
    <p>
      Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
    </p>
    <p>
      Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">http://tools.google.com/dlpage/gaoptout?hl=de</a>.
    </p>
  </dd>
<% end %>
<% if LegalPages.googleplus_plugin_share %>
  <dt>Datenschutzerklärung für die Nutzung von Google +1 und Google Share</dt>
  <dd>
    <p class="section">Erfassung und Weitergabe von Informationen:</p>
    <p>
      Mithilfe der Google +1-Schaltfläche können Sie Informationen weltweit veröffentlichen. Über die Google +1-Schaltfläche erhalten Sie und andere Nutzer personalisierte Inhalte von Google und unseren Partnern. Google speichert sowohl die Information, dass Sie für einen Inhalt +1 gegeben haben, als auch Informationen über die Seite, die Sie beim Klicken auf +1 angesehen haben. Ihre +1 können als Hinweise zusammen mit Ihrem Profilnamen und Ihrem Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Ihrem Google-Profil, oder an anderen Stellen auf Websites und Anzeigen im Internet eingeblendet werden.
    </p>
    <p>
      Google zeichnet Informationen über Ihre +1-Aktivitäten auf, um die Google-Dienste für Sie und andere zu verbessern. Um die Google +1-Schaltfläche verwenden zu können, benötigen Sie ein weltweit sichtbares, öffentliches Google-Profil, das zumindest den für das Profil gewählten Namen enthalten muss. Dieser Name wird in allen Google-Diensten verwendet. In manchen Fällen kann dieser Name auch einen anderen Namen ersetzen, den Sie beim Teilen von Inhalten über Ihr Google-Konto verwendet haben. Die Identität Ihres Google-Profils kann Nutzern angezeigt werden, die Ihre E-Mail-Adresse kennen oder über andere identifizierende Informationen von Ihnen verfügen.
    </p>
    <p class="section">Verwendung der erfassten Informationen:</p>
    <p>
      Neben den oben erläuterten Verwendungszwecken werden die von Ihnen bereitgestellten Informationen gemäß den geltenden Google-Datenschutzbestimmungen genutzt. Google veröffentlicht möglicherweise zusammengefasste Statistiken über die +1-Aktivitäten der Nutzer bzw. gibt diese an Nutzer und Partner weiter, wie etwa Publisher, Inserenten oder verbundene Websites.
    </p>
  </dd>
<% end %>
<% if LegalPages.googleplus_secure_share %>
  <dt>
    Datenschutzerklärung für die Nutzung von Google-Links (Share-Button)
  </dt>
  <dd>
    <p>
      Auf unseren Seiten sind Links (Share) zu Google+, Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 integriert.
      Die Google-Links erkennen Sie an dem Google-Logo auf unserer Seite.
    </p>
    <p>
      Für die Darstellung dieser Links wird <b>keine</b> direkte Verbindung zwischen Ihrem Browser und den Google-Servern hergestellt. Die Ermittlung der angezeigten Zähler findet im Hintergrund und ausgehend von unseren Servern statt.
      Dabei werden <b>keine</b> Benutzer spezifischen Daten übermittelt.
    </p>
    <p>
      Bei einem Klick auf den Google+ "Share-Button" öffnet sich ein Popup-Fenster mit Inhalten, die von den
      Google-Servern geladen werden. Wenn Sie dies tun, während Sie in Ihrem Google+-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem Google+-Profil verlinken. Dadurch kann Google den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen.
    </p>
  </dd>
<% end %>
<% if LegalPages.newrelic_analysis %>
  <dt>Datenschutzerklärung für die Nutzung von New Relic</dt>
  <dd>
    <p>
      Diese Webseite benutzt die Dienste von New Relic Inc., 188 Spear Street, Suite 1200 San Francisco, CA 94105, USA. New Relic ist ein Webanalysewerkzeug, welches die Nutzerdaten einer Webseite erfasst, um die Webseite auf ihre Performanz zu analysieren und zu überwachen, um beispielsweise die Ladezeiten einzelner Teile der Webseite zu verbessern.
    </p>
    <p>
      Die Erfassung der Nutzerdaten erfolgt anonymisiert. Es werden von Fairnopoly keine personenbezogenen Daten der Nutzer an New Relic übermittelt. New Relic vewendet dazu Cookies, die bei den Nutzern der Seite gesetzt werden. Ihr könnt die Speicherung der Cookies jederzeit verhindern, indem Ihr die entsprechende Einstellung unter den Sicherheitseinstellungen Eures Browsers vornehmt.
    </p>
    <p>
      Die Datenschutzerklärung von New Relic kann hier eingesehen werden: <a href="http://newrelic.com/privacy" target="blank">http://newrelic.com/privacy</a>.
    </p>
  </dd>
<% end %>
<% if LegalPages.twitter_plugin_share %>
  <dt>Datenschutzerklärung für die Nutzung von Twitter</dt>
  <dd>
    <p>
      Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., Twitter, Inc. 1355 Market St, Suite 900, San Francisco, CA 94103, USA. Durch das Benutzen von Twitter und der Funktion "Re-Tweet" werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen.
    </p>
    <p>
      Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter <a href="http://twitter.com/privacy" target="_blank">http://twitter.com/privacy</a>.
    </p>
    <p>
      Ihre Datenschutzeinstellungen bei Twitter können Sie in den Konto-Einstellungen unter <a href="http://twitter.com/account/settings" target="_blank">http://twitter.com/account/settings</a> ändern.
    </p>
  </dd>
<% end %>
<% if LegalPages.twitter_secure_share %>
  <dt>
    Datenschutzerklärung für die Nutzung von Twitter
  </dt>
  <dd>
    <p>
      Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch die Twitter Inc., Twitter, Inc. 1355 Market St, Suite 900, San Francisco, CA 94103, USA.
    </p>
    <p>
      Für die Darstellung dieser Links wird <b>keine</b> direkte Verbindung zwischen Ihrem Browser und den Twitter-Servern hergestellt. Die Ermittlung der angezeigten Zähler findet im Hintergrund und ausgehend von unseren Servern statt.
      Dabei werden <b>keine</b> Benutzer spezifischen Daten übermittelt.
    </p>
    <p>
      Bei einem Klick auf den Twitter-Button öffnet sich ein Popup-Fenster mit Inhalten, die von den
      Twitter-Servern geladen werden.
      Durch das Benutzen von Twitter und der Funktion "Re-Tweet" werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen Nutzern bekannt gegeben. Dabei werden auch Daten an Twitter übertragen.
    </p>
    <p>
      Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter <a href="http://twitter.com/privacy" target="_blank">http://twitter.com/privacy</a>.
    </p>
    <p>
      Ihre Datenschutzeinstellungen bei Twitter können Sie in den Konto-Einstellungen unter <a href="http://twitter.com/account/settings" target="_blank">http://twitter.com/account/settings</a> ändern.
    </p>
  </dd>
<% end %>
<% if LegalPages.xing_plugin_share %>
  <dt>Datenschutzerklärung für die Nutzung von XING</dt>
  <dd>
    <p>
      Auf unseren Seiten wird der "XING Share-Button" eingesetzt. Beim Aufruf dieser Internetseite wird über Ihren Browser kurzfristig eine Verbindung zu Servern der XING AG ("XING") aufgebaut, mit denen die "XING Share-Button"-Funktionen (insbesondere die Berechnung/Anzeige des Zählerwerts) erbracht werden. XING speichert keine personenbezogenen Daten von Ihnen über den Aufruf dieser Internetseite. XING speichert insbesondere keine IP-Adressen. Es findet auch keine Auswertung Ihres Nutzungsverhaltens über die Verwendung von Cookies im Zusammenhang mit dem "XING Share-Button" statt.
    </p>
    <p>
      Die jeweils aktuellen Datenschutzinformationen zum "XING Share-Button" und ergänzende Informationen können Sie auf dieser Internetseite abrufen: <a href="https://www.xing.com/app/share?op=data_protection" target="_blank">https://www.xing.com/app/share?op=data_protection</a>.
    </p>
  </dd>
  <dt>Weiterführende Informationen</dt>
  <dd>
    <p>
      Informationen über den Beitreiber finden Sie im <a href="<%= LegalPages.mount_path %>">Impressum</a>
    </p>
    <p>
      Informationen über die rechtliche Lage dieser Webseite und ihrer Angebote finden Sie im
      <a href="<%= LegalPages.mount_path %>/disclaimer">Haftungsausschluss</a>
    </p>
  </dd>
<% end %>
<% if LegalPages.xing_secure_share %>
  <dt>Datenschutzerklärung für die Nutzung von XING</dt>
  <dd>
    <p>
      Auf unseren Seiten sind Links (Share) zum sozialen Netzwerk XING der XING AG, Dammtorstraße 29-32, 20354 Hamburg, Deutschland integriert.
      Die Xing-Share-Links erkennen Sie an dem XING-Logo auf unserer Seite.
    </p>
    <p>
      Für die Darstellung dieser Links wird <b>keine</b> direkte Verbindung zwischen Ihrem Browser und den XING-Servern hergestellt. Die Ermittlung der angezeigten Zähler findet im Hintergrund und ausgehend von unseren Servern statt.
      Dabei werden <b>keine</b> Benutzer spezifischen Daten übermittelt.
    </p>
    <p>
      Bei einem Klick auf den XING "Share-Button" öffnet sich ein Popup-Fenster mit Inhalten, die von den
      XING-Servern geladen werden. Wenn Sie dies tun, während Sie in Ihrem XING-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem XING-Profil verlinken. Dadurch kann Google den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen.
    </p>
    <p>
      Die jeweils aktuellen Datenschutzinformationen können Sie auf dieser Internetseite abrufen: <a href="https://www.xing.com/privacy" target="_blank">https://www.xing.com/privacy</a>.
    </p>
  </dd>
<% end %>
  <dt>Weiterführende Informationen</dt>
  <dd>
    <p>
      Informationen über den Beitreiber finden Sie im <a href="<%= LegalPages.mount_path %>">Impressum</a>
    </p>
    <p>
      Informationen über die rechtliche Lage dieser Webseite und ihrer Angebote finden Sie im
      <a href="<%= LegalPages.mount_path %>/disclaimer">Haftungsausschluss</a>
    </p>
  </dd>
</dl>
